/*** App Environments ***/
$font-color: #222222;
$font-size: 14px;
$accent-color: #0f1f2e;
$background-color: #ffffff;
$content-width: 1200px;
$component-radius: 15px;

/*** Colors ***/
$color-white: #fff;
$color-black: #0d0d0d;

$color-silver: #e5e5e5;
$color-silver-soft: #f0f0f0;
$color-silver-bold: #70757a;
$color-silver-bolder: #404040;

$color-red: #ff3333;
$color-red-soft: #ff4d4d;
$color-red-bold: #db3b21;

$color-green-soft: #98ecbf;
